[Desktop Entry]
Name=Windows
Comment=Start Windows VM via Docker and connect with RDP
Exec=uwsm app -- foot --hold --app-id=windows-vm --title="Windows VM" /home/mauriciocunha/DEV/omarchy-plugins/scripts/omarchy-windows-launch
Icon=windows
Terminal=false
Type=Application
Categories=System;
